.cards {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	justify-content: space-evenly;
	align-items: center;
	padding: 2rem 0;

	@media only screen and (max-width: 414px) {
		display: none;
	}

	&__body {
		height: 24rem;
		width: 20rem;
		margin: 1rem 1rem;
		background-color: var(--color-grey-light-3);
		color: var(--color-primary);
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 12px;
		text-decoration: none;

		&:hover {
			transition-timing-function: ease-in-out;
			transform: scale(1.1);
		}
	}

	&__top-text {
		font-size: 1.5rem;
		margin: 1rem;
		color: black;
	}

	&__body__incoming {
		height: 24rem;
		width: 20rem;
		margin: 1rem 1rem;
		background-color: var(--color-grey-light-3);
		color: var(--color-primary);
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 12px;
		opacity: 0.5;
	}

	&__footer {
		&__title {
			font-size: 1.75rem;
			margin: 0.5rem;
			font-weight: 600;
			color: var(--color-primary-dark);
		}

		&__note {
			font-size: 1.25rem;
			text-align: center;
			padding: 0 1rem;

			color: var(--color-primary-light);
		}
	}
}

.video {
	display: flex;
	flex: 1;

	&__heading {
		text-align: center;
		font-size: 2.5rem;
		color: var(--color-primary-dark);
		padding: 1rem;
	}

	&__paragraph {
		text-align: center;
		font-size: 1.75rem;
		color: var(--color-primary-light);
		margin-bottom: 2rem;
		padding: 0rem 2rem;
	}

	&__player {
		display: flex;
		flex-direction: column;
		padding: 10%;
	}
}

.preguntas {
	max-width: 60%;
	display: flex;
	flex-direction: column;

	@media only screen and (max-width: 768px) {
		margin: 0;
		max-width: 100%;
		width: 100%;
		border-radius: 0px;
	}

	&__heading {
		margin: 6rem;
		text-align: center;
		font-size: 3.5rem;
		font-weight: 600;
		color: var(--color-primary-dark);

		@media only screen and (max-width: 411px) {
			font-size: 3rem;
		}
	}

	&__testimonios {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;

		&__list {
			list-style: decimal;
			font-size: 2rem;
			margin: 4rem;
			color: var(--color-primary-light);
		}

		&__footer {
			text-align: center;
			font-size: 3rem;
			color: black;
		}
	}

	&__facebook {
		margin: 2rem 4rem;
		padding: 2rem;
		color: var(--color-facebook);
	}
}

.testimonios {
	min-width: 40%;
	padding: 1rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0 1;
	@media only screen and (max-width: 768px) {
		display: flex;
		margin: auto;
		justify-content: center;
	}

	&__videos {
		margin: 2rem;
	}
	&__social {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 6rem;
		margin: 2rem 2rem;

		@media only screen and (max-width: 768px) {
			margin: 0;
		}

		&__icon {
			font-size: 6rem;
			margin: 2rem 2rem;
			cursor: pointer;
			color: var(--color-primary-dark);
		}
	}
}

.divider-left {
	margin-left: 11%;
	border-left: 4px solid var(--color-primary);
	padding: 0 4rem;
}

.communityButton {
	margin: 3rem 0;
	font-size: 1.5rem;
	border: none;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 100px;
	border: none;
	background-color: var(--color-button-green);
	padding: 2rem 4rem;
	color: black;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&:hover {
		transition-timing-function: ease-in-out;
		transform: scale(1.1);
	}
	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4s;
	}

	&--animated {
		animation: moveInBottom 0.5s ease-out 0.75s;
		animation-fill-mode: backwards;
	}
}

.btn-container {
	display: flex;
	justify-content: center;
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

.animate-pulsate {
	animation: Pulsate 2s ease-out;
	animation-iteration-count: infinite;
	opacity: 0.5;
}

@keyframes Pulsate {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}

.react-player {
	position: absolute;
	top: 0;
	left: 0;
}

.player-wrapper {
	position: relative;
	padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}
